body {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

header,
nav,
main,
footer {
    margin: 0 auto;
}

header {
    padding: 40px 20px 20px 20px;
    text-align: left;
    background-color: #f4f7fc;
}

nav {
    padding: 0px 20px;
}

main {
    background-color: #FFFFFF;
    text-align: justify;
    padding: 0px 20px 20px;
}

div#left {
    float: left;
    width: 40%;
}

div#right {
    float: right;
    width: 60%;
}

button {
    float: right;
    background-color: #2264e5;
    color: white;
    padding: 6px 12px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    text-align: right;
}

section table {
    width: 100%;
    padding: 20px 0px;
    background-color: #f4f7fc;
}

section table td:nth-child(odd) {
    text-align: right;
}

section table td:nth-child(even) {
    text-align: left;
}

article table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

article table tr:nth-child(even) {
    background-color: #f9fafc;
    width: 80%;
}

article table tr:nth-child(odd) {
    background-color: #FFFFFF;
}

footer {
    padding: 20px 20px 10px 20px;
    background-color: #f4f7fc;
}